body {
    margin: 0 auto
}

.btn {
    border-radius: 0px;
}

.btn-danger {
    color: #d9534f;
    background: none;
    border-color: #d9534f;
}

.navbar {
    border-radius: 0px;
}

.navigation {

}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header li a {
    color: #FFF;
    text-decoration: none;
    padding: 16px;
    display: inline-block;
}